.header{
    margin-top: 125px;
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: center;
    div{
        height: 430px;
        width: 813px;
        img{
            height: 430px;
            width: 813px;
        }
    }
    .textoCarousel{
        color: #D0D3D4;
        position: absolute;
        margin-top: 70px;
        top: 1px;
        height: 100px;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: flex-end;
        background-color: #424949;
        border-top-right-radius: 20px;
        p{
            margin: 0;
        }
    }
    .carousel-indicators{
        height: 10px;
        width: 813px;
        margin-left: 0;
        margin-right: 0;
    }
}

svg{
    margin-top: -60px;
}